@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.bg-whatsapp {
  background-color: #25d366;
}
.bg-email {
  background-color: #EA4335
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

body {
  overflow-x: hidden;
}
